In [2]:
import pandas as pd
import numpy as np

In [3]:
shark_merged = pd.read_csv("../Project_3/shark_merged_copy.csv")

In [4]:
shark_merged_copy = shark_merged.copy()

In [5]:
shark_merged_copy.head()

,season_epi_code,pitched_business_identifier,pitched_business_desc,deal_status,deal_shark,deal,description,episode,category,entrepreneurs,...,valuation,season,shark1,shark2,shark3,shark4,shark5,title,episode_season,multiple_entrepreneurs
0,629,Bee Thinking,beehives in various modern designs . Matt Reed...,0,NaN,False,Bee Thinking crafts beautiful bee hives in Por...,24.0,Professional Services,Matt Reed,...,4000000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Bee Thinking,6-24,False
1,629,Budsies,a company that creates custom plush toys based...,0,NaN,False,Budsies magically transforms any artwork into ...,24.0,Toys and Games,Alex Furmansky,...,2000000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Budsies,6-24,False
2,629,Forus Athletics,workout and athletic shoes,0,NaN,False,Lightweight yet supportive and extremely comfo...,24.0,Men and Women's Shoes,Joel Vinocur and Arsene Millogo,...,1333333.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Forus Athletics,6-24,True
3,629,PullyPalz,a pulley system to keep two pacifiers availabl...,1,LG,True,A baby toy that helps them retrieve dropped pa...,24.0,Baby and Child Care,Julie Thompson,...,500000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,PullyPalz,6-24,False
4,628,BeeSweet Lemonade,honey-sweetened lemonade with flaxseed,1,DJ,True,BeeSweet Lemonade uses locally sourced honey. ...,23.0,Non-Alcoholic Beverages,Mikaila and Theo Ulmer,...,600000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,BeeSweet Lemonade,6-23,True

In [6]:
shark_merged_copy.shape

(498, 24)

In [7]:
shark_merged_copy.columns

Index(['season_epi_code', 'pitched_business_identifier',
       'pitched_business_desc', 'deal_status', 'deal_shark', 'deal',
       'description', 'episode', 'category', 'entrepreneurs', 'location',
       'website', 'asked_for', 'exchange_for_stake', 'valuation', 'season',
       'shark1', 'shark2', 'shark3', 'shark4', 'shark5', 'title',
       'episode_season', 'multiple_entrepreneurs'],
      dtype='object')

## Examine and work on missing values

### Drop rows with too many missing values

All the columns from 1 dataset have the same missing 103 values (and some have a few more missing values) that the other dataset has values for. We decided that it is not useful to have rows with only a few values so we removed them.

In [8]:
missing_values = shark_merged_copy.isna().sum().sort_values(ascending = False)
missing_values

deal_shark                     242
entrepreneurs                  156
website                        135
asked_for                      103
deal                           103
description                    103
episode                        103
category                       103
location                       103
episode_season                 103
multiple_entrepreneurs         103
exchange_for_stake             103
valuation                      103
season                         103
shark1                         103
shark2                         103
shark3                         103
shark4                         103
shark5                         103
title                          103
deal_status                      0
pitched_business_desc            0
pitched_business_identifier      0
season_epi_code                  0
dtype: int64

In [9]:
null_display = shark_merged_copy[(shark_merged_copy['season'].isnull()==True)]
null_display = null_display[['season', 'shark1' , 'pitched_business_desc', 'pitched_business_identifier', 'season_epi_code']]
null_display.head(10)

,season,shark1,pitched_business_desc,pitched_business_identifier,season_epi_code
28,NaN,NaN,a sports bra with pockets for holding valuables,BoobyPack,622
32,NaN,NaN,a locking container that can be attached to ch...,Aqua Vault,621
38,NaN,NaN,a device that uses ultraviolet light to remove...,Phonesoap,620
40,NaN,NaN,a line of almond water beverages . Inspired by...,Victoria's Kitchen Almond Water,620
50,NaN,NaN,"an inflatable, solar powered lighting device",LuminAID,617
57,NaN,NaN,a beverage koozie that floats in water,BeverageBoy,615
64,NaN,NaN,an alternative to The Elf on the Shelf for Jew...,The Mensch on a Bench,614
65,NaN,NaN,"a line of collapsible, folding luggage designe...",Biaggi,613
67,NaN,NaN,an exfoliating and moisturizing soap bar speci...,Soaps Washes and Grooming Essentials,613
71,NaN,NaN,a portable cooking device that uses an instant...,MagicCook,612

In [10]:
shark_merged_copy = shark_merged_copy.dropna(subset=['shark1', 'shark2', 'shark3'])

In [11]:
shark_merged_copy.shape

(395, 24)

In [12]:
missing_values2 = shark_merged_copy.isna().sum().sort_values(ascending = False)
missing_values2

deal_shark                     190
entrepreneurs                   53
website                         32
episode_season                   0
pitched_business_identifier      0
pitched_business_desc            0
deal_status                      0
deal                             0
description                      0
episode                          0
category                         0
location                         0
multiple_entrepreneurs           0
asked_for                        0
exchange_for_stake               0
valuation                        0
season                           0
shark1                           0
shark2                           0
shark3                           0
shark4                           0
shark5                           0
title                            0
season_epi_code                  0
dtype: int64

### Replace null values in 'deal_shark' column with 'Unknown'

Looking at this column, the null values likely indicate that we do not know which shark(s) made the deal, so we can change this to 'Unknown'

In [13]:
shark_merged_copy.head()

,season_epi_code,pitched_business_identifier,pitched_business_desc,deal_status,deal_shark,deal,description,episode,category,entrepreneurs,...,valuation,season,shark1,shark2,shark3,shark4,shark5,title,episode_season,multiple_entrepreneurs
0,629,Bee Thinking,beehives in various modern designs . Matt Reed...,0,NaN,False,Bee Thinking crafts beautiful bee hives in Por...,24.0,Professional Services,Matt Reed,...,4000000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Bee Thinking,6-24,False
1,629,Budsies,a company that creates custom plush toys based...,0,NaN,False,Budsies magically transforms any artwork into ...,24.0,Toys and Games,Alex Furmansky,...,2000000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Budsies,6-24,False
2,629,Forus Athletics,workout and athletic shoes,0,NaN,False,Lightweight yet supportive and extremely comfo...,24.0,Men and Women's Shoes,Joel Vinocur and Arsene Millogo,...,1333333.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Forus Athletics,6-24,True
3,629,PullyPalz,a pulley system to keep two pacifiers availabl...,1,LG,True,A baby toy that helps them retrieve dropped pa...,24.0,Baby and Child Care,Julie Thompson,...,500000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,PullyPalz,6-24,False
4,628,BeeSweet Lemonade,honey-sweetened lemonade with flaxseed,1,DJ,True,BeeSweet Lemonade uses locally sourced honey. ...,23.0,Non-Alcoholic Beverages,Mikaila and Theo Ulmer,...,600000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,BeeSweet Lemonade,6-23,True

In [14]:
print(set(shark_merged_copy['deal_shark']))

{nan, 'LG+RH', 'DJ+KOL+MC', 'BC+MC', 'BC+DJ', 'KOL+MC', 'KOL+RH', 'DJ+KOL+LG+RH', 'BC+RH', 'Others', 'KOL', 'RH', 'DJ+LG', 'LG+MC', 'MC+RH', 'BC+DJ+KOL+MC+RH', 'KOL+MC+RH', 'LG+MC+RH', 'DJ+KOL+LG+MC+RH', 'BC', 'LG', 'BC+DJ+KOL+RH', 'DJ+MC', 'DJ+RH', 'BC+LG', 'KOL+LG', 'MC', 'DJ'}

In [15]:
shark_merged_copy["deal_shark"].fillna("Unknown", inplace = True)

In [16]:
print(set(shark_merged_copy['deal_shark']))

{'LG+RH', 'DJ+KOL+MC', 'BC+MC', 'BC+DJ', 'KOL+MC', 'KOL+RH', 'DJ+KOL+LG+RH', 'BC+RH', 'Others', 'KOL', 'RH', 'DJ+LG', 'LG+MC', 'MC+RH', 'BC+DJ+KOL+MC+RH', 'KOL+MC+RH', 'LG+MC+RH', 'DJ+KOL+LG+MC+RH', 'BC', 'LG', 'BC+DJ+KOL+RH', 'DJ+MC', 'DJ+RH', 'BC+LG', 'KOL+LG', 'MC', 'Unknown', 'DJ'}

#### End result of cleaning missing values

In [17]:
missing_values3 = shark_merged_copy.isna().sum().sort_values(ascending = False)
missing_values3

entrepreneurs                  53
website                        32
episode_season                  0
pitched_business_identifier     0
pitched_business_desc           0
deal_status                     0
deal_shark                      0
deal                            0
description                     0
episode                         0
category                        0
location                        0
multiple_entrepreneurs          0
asked_for                       0
exchange_for_stake              0
valuation                       0
season                          0
shark1                          0
shark2                          0
shark3                          0
shark4                          0
shark5                          0
title                           0
season_epi_code                 0
dtype: int64

## Compare similar columns and drop columns

### Compare 'pitched_business_desc' and 'description', drop 'description'

While the right column looks more nicely formatted, the left column has more concise descriptions.

In [18]:
shark_merged_copy.filter(items=['pitched_business_desc', 'description'])

,pitched_business_desc,description
0,beehives in various modern designs . Matt Reed...,Bee Thinking crafts beautiful bee hives in Por...
1,a company that creates custom plush toys based...,Budsies magically transforms any artwork into ...
2,workout and athletic shoes,Lightweight yet supportive and extremely comfo...
3,a pulley system to keep two pacifiers availabl...,A baby toy that helps them retrieve dropped pa...
4,honey-sweetened lemonade with flaxseed,BeeSweet Lemonade uses locally sourced honey. ...
...,...,...
493,"(Emmy the Elephant during show, trademarked a...",Ava the Elephant is a godsend for frazzled par...
494,a packing and organizing service based on an a...,"Organizing, packing, and moving services deliv..."
495,an implantable Bluetooth device requiring surg...,Bluetooth device implant for your ear.
496,a pie company,Retail and wholesale pie factory with two reta...
497,an electronic hand-held device for waiting roo...,Interactive media centers for healthcare waiti...

Drop 'description'

In [19]:
shark_merged_copy = shark_merged_copy.drop(columns = ['description'])

In [20]:
shark_merged_copy.shape

(395, 23)

### Compare 'deal_status' and 'deal' columns & drop 'deal'

In [21]:
shark_merged_copy[['deal_status', 'deal']]

     deal_status   deal
0              0  False
1              0  False
2              0  False
3              1   True
4              1   True
..           ...    ...
493            1   True
494            0  False
495            0  False
496            1   True
497            0  False

[395 rows x 2 columns]

Convert 'deal_status' to boolean data type to compare

In [22]:
shark_merged_copy["deal_status"] = shark_merged_copy["deal"].astype(bool)

In [23]:
shark_merged_copy[['deal_status', 'deal']]

     deal_status   deal
0          False  False
1          False  False
2          False  False
3           True   True
4           True   True
..           ...    ...
493         True   True
494        False  False
495        False  False
496         True   True
497        False  False

[395 rows x 2 columns]

In [24]:
check = shark_merged_copy["deal_status"] == shark_merged_copy["deal"]
check

0      True
1      True
2      True
3      True
4      True
       ...
493    True
494    True
495    True
496    True
497    True
Length: 395, dtype: bool

All 395 values are 'True'

In [25]:
check.value_counts()

True    395
dtype: int64

Drop 'deal'

In [26]:
shark_merged_copy = shark_merged_copy.drop(columns=['deal'])

In [27]:
shark_merged_copy.shape

(395, 22)

In [28]:
shark_merged_copy.head()

,season_epi_code,pitched_business_identifier,pitched_business_desc,deal_status,deal_shark,episode,category,entrepreneurs,location,website,...,valuation,season,shark1,shark2,shark3,shark4,shark5,title,episode_season,multiple_entrepreneurs
0,629,Bee Thinking,beehives in various modern designs . Matt Reed...,False,Unknown,24.0,Professional Services,Matt Reed,"Portland, OR",http://www.beethinking.com,...,4000000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Bee Thinking,6-24,False
1,629,Budsies,a company that creates custom plush toys based...,False,Unknown,24.0,Toys and Games,Alex Furmansky,"Lake Worth, FL",http://www.budsies.com,...,2000000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Budsies,6-24,False
2,629,Forus Athletics,workout and athletic shoes,False,Unknown,24.0,Men and Women's Shoes,Joel Vinocur and Arsene Millogo,"Indianapolis, IN",http://www.wearforus.com,...,1333333.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,Forus Athletics,6-24,True
3,629,PullyPalz,a pulley system to keep two pacifiers availabl...,True,LG,24.0,Baby and Child Care,Julie Thompson,"Atlanta, GA",http://pullypalz.com,...,500000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,PullyPalz,6-24,False
4,628,BeeSweet Lemonade,honey-sweetened lemonade with flaxseed,True,DJ,23.0,Non-Alcoholic Beverages,Mikaila and Theo Ulmer,"Austin, TX",http://beesweetlemonade.com,...,600000.0,6.0,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban,BeeSweet Lemonade,6-23,True

### Compare 'pitched_business_identifier' and 'title', drop 'title'

These two columns referring to the name of the business also look the same.

In [29]:
check2 = shark_merged_copy["pitched_business_identifier"] == shark_merged_copy["title"]
check2

0      True
1      True
2      True
3      True
4      True
       ...
493    True
494    True
495    True
496    True
497    True
Length: 395, dtype: bool

All 395 values are 'True'

In [30]:
check2.value_counts()

True    395
dtype: int64

Drop 'title'

In [31]:
shark_merged_copy = shark_merged_copy.drop(columns=['title'])

In [32]:
shark_merged_copy.shape

(395, 21)

### Remove further duplicate columns 'season_epi_code' & 'episode_season'

In [33]:
shark_merged_copy[['season_epi_code', 'episode', 'season', 'episode_season']]

     season_epi_code  episode  season episode_season
0                629     24.0     6.0           6-24
1                629     24.0     6.0           6-24
2                629     24.0     6.0           6-24
3                629     24.0     6.0           6-24
4                628     23.0     6.0           6-23
..               ...      ...     ...            ...
493              101      1.0     1.0            1-1
494              101      1.0     1.0            1-1
495              101      1.0     1.0            1-1
496              101      1.0     1.0            1-1
497              101      1.0     1.0            1-1

[395 rows x 4 columns]

In [34]:
shark_merged_copy = shark_merged_copy.drop(columns=['season_epi_code', 'episode_season'])

In [35]:
shark_merged_copy.shape

(395, 19)

### Drop unneccessary column 'multiple_entrepreneurs'

The 'multiple_entrepreneurs' column is not useful for our data, so we decided to drop it.

In [36]:
shark_merged_copy = shark_merged_copy.drop(columns=['multiple_entrepreneurs'])

In [37]:
shark_merged_copy.shape

(395, 18)

### Drop unneccessary columns: shark1 to shark5

In [38]:
shark_merged_copy = shark_merged_copy.drop(columns=['shark1', 'shark2', 'shark3', 'shark4', 'shark5'])

In [39]:
shark_merged_copy.shape

(395, 13)

## Extract the state and save it to 'location' column

In [41]:
shark_merged_copy['location'] = shark_merged_copy['location'].str[-2:]
shark_merged_copy.head()

,pitched_business_identifier,pitched_business_desc,deal_status,deal_shark,episode,category,entrepreneurs,location,website,asked_for,exchange_for_stake,valuation,season
0,Bee Thinking,beehives in various modern designs . Matt Reed...,False,Unknown,24.0,Professional Services,Matt Reed,OR,http://www.beethinking.com,400000.0,10.0,4000000.0,6.0
1,Budsies,a company that creates custom plush toys based...,False,Unknown,24.0,Toys and Games,Alex Furmansky,FL,http://www.budsies.com,100000.0,5.0,2000000.0,6.0
2,Forus Athletics,workout and athletic shoes,False,Unknown,24.0,Men and Women's Shoes,Joel Vinocur and Arsene Millogo,IN,http://www.wearforus.com,200000.0,15.0,1333333.0,6.0
3,PullyPalz,a pulley system to keep two pacifiers availabl...,True,LG,24.0,Baby and Child Care,Julie Thompson,GA,http://pullypalz.com,100000.0,20.0,500000.0,6.0
4,BeeSweet Lemonade,honey-sweetened lemonade with flaxseed,True,DJ,23.0,Non-Alcoholic Beverages,Mikaila and Theo Ulmer,TX,http://beesweetlemonade.com,60000.0,10.0,600000.0,6.0

## Replace initials in 'deal_shark' column with full names

In [42]:
shark_merged_copy['deal_shark'] = (shark_merged_copy['deal_shark']
                                    .str.replace("BC", "Barbara Corcoran")
                                    .str.replace("MC", "Marc Cuban")
                                    .str.replace("DJ", "Daymond John")
                                    .str.replace("KOL", "Kevin O'Leary")
                                    .str.replace("LG", "Lori Greiner")
                                    .str.replace("RH", "Robert Herjavec"))
shark_merged_copy.head()

,pitched_business_identifier,pitched_business_desc,deal_status,deal_shark,episode,category,entrepreneurs,location,website,asked_for,exchange_for_stake,valuation,season
0,Bee Thinking,beehives in various modern designs . Matt Reed...,False,Unknown,24.0,Professional Services,Matt Reed,OR,http://www.beethinking.com,400000.0,10.0,4000000.0,6.0
1,Budsies,a company that creates custom plush toys based...,False,Unknown,24.0,Toys and Games,Alex Furmansky,FL,http://www.budsies.com,100000.0,5.0,2000000.0,6.0
2,Forus Athletics,workout and athletic shoes,False,Unknown,24.0,Men and Women's Shoes,Joel Vinocur and Arsene Millogo,IN,http://www.wearforus.com,200000.0,15.0,1333333.0,6.0
3,PullyPalz,a pulley system to keep two pacifiers availabl...,True,Lori Greiner,24.0,Baby and Child Care,Julie Thompson,GA,http://pullypalz.com,100000.0,20.0,500000.0,6.0
4,BeeSweet Lemonade,honey-sweetened lemonade with flaxseed,True,Daymond John,23.0,Non-Alcoholic Beverages,Mikaila and Theo Ulmer,TX,http://beesweetlemonade.com,60000.0,10.0,600000.0,6.0

## Fix incorrect data types

In [43]:
shark_merged_copy.dtypes

pitched_business_identifier     object
pitched_business_desc           object
deal_status                       bool
deal_shark                      object
episode                        float64
category                        object
entrepreneurs                   object
location                        object
website                         object
asked_for                      float64
exchange_for_stake             float64
valuation                      float64
season                         float64
dtype: object

### Change columns data type from float to int

In [44]:
shark_merged_copy.episode = pd.to_numeric(shark_merged_copy.episode, downcast='integer')

In [45]:
shark_merged_copy['episode']

0      24
1      24
2      24
3      24
4      23
       ..
493     1
494     1
495     1
496     1
497     1
Name: episode, Length: 395, dtype: int8

In [46]:
shark_merged_copy.season = pd.to_numeric(shark_merged_copy.season, downcast='integer')

In [47]:
shark_merged_copy.valuation = pd.to_numeric(shark_merged_copy.valuation, downcast='integer')

In [48]:
shark_merged_copy.asked_for = pd.to_numeric(shark_merged_copy.asked_for, downcast='integer')

In [49]:
shark_merged_copy.exchange_for_stake = pd.to_numeric(shark_merged_copy.exchange_for_stake, downcast='integer')

Check if worked

In [50]:
shark_merged_copy[['season', 'valuation', 'asked_for', 'exchange_for_stake']]

     season  valuation  asked_for  exchange_for_stake
0         6    4000000     400000                  10
1         6    2000000     100000                   5
2         6    1333333     200000                  15
3         6     500000     100000                  20
4         6     600000      60000                  10
..      ...        ...        ...                 ...
493       1     333333      50000                  15
494       1    1000000     250000                  25
495       1    6666667    1000000                  15
496       1    4600000     460000                  10
497       1   12000000    1200000                  10

[395 rows x 4 columns]

In [51]:
shark_merged_copy.dtypes

pitched_business_identifier    object
pitched_business_desc          object
deal_status                      bool
deal_shark                     object
episode                          int8
category                       object
entrepreneurs                  object
location                       object
website                        object
asked_for                       int32
exchange_for_stake               int8
valuation                       int32
season                           int8
dtype: object

In [52]:
shark_merged_copy.head()

,pitched_business_identifier,pitched_business_desc,deal_status,deal_shark,episode,category,entrepreneurs,location,website,asked_for,exchange_for_stake,valuation,season
0,Bee Thinking,beehives in various modern designs . Matt Reed...,False,Unknown,24,Professional Services,Matt Reed,OR,http://www.beethinking.com,400000,10,4000000,6
1,Budsies,a company that creates custom plush toys based...,False,Unknown,24,Toys and Games,Alex Furmansky,FL,http://www.budsies.com,100000,5,2000000,6
2,Forus Athletics,workout and athletic shoes,False,Unknown,24,Men and Women's Shoes,Joel Vinocur and Arsene Millogo,IN,http://www.wearforus.com,200000,15,1333333,6
3,PullyPalz,a pulley system to keep two pacifiers availabl...,True,Lori Greiner,24,Baby and Child Care,Julie Thompson,GA,http://pullypalz.com,100000,20,500000,6
4,BeeSweet Lemonade,honey-sweetened lemonade with flaxseed,True,Daymond John,23,Non-Alcoholic Beverages,Mikaila and Theo Ulmer,TX,http://beesweetlemonade.com,60000,10,600000,6

## Remove 'deal_status' values that are false (no deal)

Our other dataset is from the British version, Dragon's Den, and only contains data on deals that were made. To be able to better compare the two datasets, we decided to remove all the non-deal rows.

In [53]:
shark_merged_copy['deal_status']

0      False
1      False
2      False
3       True
4       True
       ...
493     True
494    False
495    False
496     True
497    False
Name: deal_status, Length: 395, dtype: bool

In [54]:
shark_merged_copy.loc[shark_merged_copy['deal_status'] == False]

,pitched_business_identifier,pitched_business_desc,deal_status,deal_shark,episode,category,entrepreneurs,location,website,asked_for,exchange_for_stake,valuation,season
0,Bee Thinking,beehives in various modern designs . Matt Reed...,False,Unknown,24,Professional Services,Matt Reed,OR,http://www.beethinking.com,400000,10,4000000,6
1,Budsies,a company that creates custom plush toys based...,False,Unknown,24,Toys and Games,Alex Furmansky,FL,http://www.budsies.com,100000,5,2000000,6
2,Forus Athletics,workout and athletic shoes,False,Unknown,24,Men and Women's Shoes,Joel Vinocur and Arsene Millogo,IN,http://www.wearforus.com,200000,15,1333333,6
5,BrandYourself,software to improve search results for individ...,False,Unknown,23,Online Services,Patrick Ambron,NY,https://brandyourself.com,2000000,14,14814815,6
6,iCPooch,a device that allows two-way video chat betwee...,False,Unknown,23,Pet Products,Brooke Martin and James Pelland,WA,http://www.icpooch.com,150000,20,750000,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,Crooked Jaw,a mixed martial arts clothing line . a mixed m...,False,Unknown,2,Men and Women's Apparel,Craig French,CA,http://crookedjawfashions.com/,200000,20,1000000,1
491,Lifebelt,a device that prevents the car from starting w...,False,Unknown,2,Automotive,Robert Alison,NV,http://www.nobucklenostart.com/,500000,10,5000000,1
494,College Foxes Packing Boxes,a packing and organizing service based on an a...,False,Unknown,1,Consumer Services,"Nick Friedman, Omar Soliman",FL,http://collegehunkshaulingjunk.com/,250000,25,1000000,1
495,Ionic Ear,an implantable Bluetooth device requiring surg...,False,Unknown,1,Novelties,Darrin Johnson,MN,NaN,1000000,15,6666667,1
497,Wispots,an electronic hand-held device for waiting roo...,False,Unknown,1,Consumer Services,Kevin Flannery,NC,http://www.wispots.com/,1200000,10,12000000,1

In [55]:
shark_merged_copy.drop(shark_merged_copy[shark_merged_copy.deal_status == False].index, inplace=True)

Check that it worked (it's empty, so it did work)

In [56]:
shark_merged_copy.loc[shark_merged_copy['deal_status'] == False]

Empty DataFrame
Columns: [pitched_business_identifier, pitched_business_desc, deal_status, deal_shark, episode, category, entrepreneurs, location, website, asked_for, exchange_for_stake, valuation, season]
Index: []

In [57]:
shark_merged_copy.shape

(202, 13)

In [58]:
shark_merged_copy.columns

Index(['pitched_business_identifier', 'pitched_business_desc', 'deal_status',
       'deal_shark', 'episode', 'category', 'entrepreneurs', 'location',
       'website', 'asked_for', 'exchange_for_stake', 'valuation', 'season'],
      dtype='object')

## Rename columns

In [59]:
shark_merged_copy = shark_merged_copy.rename(columns={'pitched_business_identifier': 'company_or_product_name', 
                                                      'pitched_business_desc': 'description_of_product',
                                                      'entrepreneurs': 'entrepreneurs(s)',
                                                      'asked_for': 'money_requested',
                                                      'exchange_for_stake': 'stake_in_%_sold',
                                                      'deal_shark': 'investing_dragon(s)'})

In [60]:
shark_merged_copy.head()

,company_or_product_name,description_of_product,deal_status,investing_dragon(s),episode,category,entrepreneurs(s),location,website,money_requested,stake_in_%_sold,valuation,season
3,PullyPalz,a pulley system to keep two pacifiers availabl...,True,Lori Greiner,24,Baby and Child Care,Julie Thompson,GA,http://pullypalz.com,100000,20,500000,6
4,BeeSweet Lemonade,honey-sweetened lemonade with flaxseed,True,Daymond John,23,Non-Alcoholic Beverages,Mikaila and Theo Ulmer,TX,http://beesweetlemonade.com,60000,10,600000,6
9,Melni Connectors,a simpler connector for industrial electrical ...,True,Marc Cuban,25,Electronics,"Byron Dunn, Mark Melni, and Armand Eckert",ID,http://www.melniconnectors.com,500000,5,10000000,6
10,NeatCheeks,wipes flavored with stevia for cleaning childr...,True,Barbara Corcoran,25,Baby and Child Care,Danielle Stangler and Julia Rossi,CO,https://neatcheeks.com,150000,20,750000,6
11,PittMoss,an alternative to peat moss manufactured from ...,True,Kevin O'Leary+Marc Cuban+Robert Herjavec,25,Gardening,Mont Handley,PA,http://pittmoss.com,600000,25,2400000,6

## Reset index

In [61]:
shark_merged_copy = shark_merged_copy.reset_index(drop=True)

In [62]:
shark_merged_copy

,company_or_product_name,description_of_product,deal_status,investing_dragon(s),episode,category,entrepreneurs(s),location,website,money_requested,stake_in_%_sold,valuation,season
0,PullyPalz,a pulley system to keep two pacifiers availabl...,True,Lori Greiner,24,Baby and Child Care,Julie Thompson,GA,http://pullypalz.com,100000,20,500000,6
1,BeeSweet Lemonade,honey-sweetened lemonade with flaxseed,True,Daymond John,23,Non-Alcoholic Beverages,Mikaila and Theo Ulmer,TX,http://beesweetlemonade.com,60000,10,600000,6
2,Melni Connectors,a simpler connector for industrial electrical ...,True,Marc Cuban,25,Electronics,"Byron Dunn, Mark Melni, and Armand Eckert",ID,http://www.melniconnectors.com,500000,5,10000000,6
3,NeatCheeks,wipes flavored with stevia for cleaning childr...,True,Barbara Corcoran,25,Baby and Child Care,Danielle Stangler and Julia Rossi,CO,https://neatcheeks.com,150000,20,750000,6
4,PittMoss,an alternative to peat moss manufactured from ...,True,Kevin O'Leary+Marc Cuban+Robert Herjavec,25,Gardening,Mont Handley,PA,http://pittmoss.com,600000,25,2400000,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Turbobaster,a cooking device for basting,True,Others,3,Kitchen Tools,Marian Cruz,CA,NaN,35000,35,100000,1
198,A Perfect Pear,a gourmet food business . a gourmet food business,True,Robert Herjavec,2,Specialty Food,Susan Knapp,CA,http://www.aperfectpear.com,500000,15,3333333,1
199,Classroom Jams,a musical way to teach students Shakespeare . ...,True,Barbara Corcoran+Daymond John+Kevin O'Leary+Ro...,2,Education,Mark Furigay,IL,NaN,250000,10,2500000,1
200,Ava the Elephant,"(Emmy the Elephant during show, trademarked a...",True,Barbara Corcoran,1,Baby and Child Care,Tiffany Krumins,GA,http://www.avatheelephant.com/,50000,15,333333,1
201,Mr. Tod's Pie Factory,a pie company,True,Barbara Corcoran+Daymond John,1,Specialty Food,Tod Wilson,NJ,http://whybake.com/,460000,10,4600000,1

## Export to new csv file

In [63]:
shark_merged_copy.to_csv('shark_merged_clean.csv', sep=',', index=False)